@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400&display=swap');
*{
  margin: 0px;
  padding: 0px;
}
body{
  display: block;
    
    text-align: center;
    margin: auto;
    /* max-width: 600px;
    min-width: 300px; */
    background-color: #252733; 
    font-family: 'Mulish', sans-serif;  

}

h1,p{
  margin: 1rem;
}

h1{
  color: aliceblue;
}

.take-input{
  display: block;
  font-size: 1.3rem;
      
  
}

input{ 
  width: 100%;
  font-size: 1.3rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
 
  padding: 0.4rem;
  border-radius: 0.5rem;
  border: 2px solid #4752f9;
 
 
}

main{
  color: aliceblue;
  max-width: 600px;
 
  margin: auto;
    display: block;
    text-align: center;
    justify-content: center;
    background-color: #134e4a;
  
    padding-top: 10vh;
    padding-left: 2rem;
    padding-right: 3.2rem;
    padding-bottom: 3rem;

   
    

}

button{
  background-color: aliceblue;
  padding: 0.5rem;
  font-size: 1rem;
  border: none;
  border-radius: 0.5rem;
}

button:hover{
  font-size: 1.1rem;
  color: aliceblue;
  background-color:#4752f9 ;
}

 th, td {
  color: aliceblue;
    border:1.5px solid white;
    width: 0%;
    border-collapse: collapse;
    padding: 0.4rem;
  }
  td{
    display: table-cell;
    vertical-align: inherit;
  }

  table{
    display: table;
    margin-bottom: 3rem;
   border-collapse: collapse;
   width: 100%;
    margin: auto;
  
    
    
   
  }
  tbody {
    display: table-row-group;
    /* width: 60%; */
    vertical-align: middle;
    border-color: inherit;
}


  footer{
    text-align: center;
  position: absolute;
display: block;
  bottom: 1rem;
  left: 0;
  right: 0;


}

footer ul{
text-align: center;
list-style-type: none;
display:inline;


}
li,a,img{
display: inline;
}
footer img{
width: 40px;

padding-left: 8px;
padding-right: 8px;
}
footer p{
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 150;
 color: #4752f9;
}

@media only screen and (max-width: 500px) {
  *{
    margin: 0px;
    padding: 0px;
  }
  body {
    width: 80vw;
  }
  h1,p{
    margin: 0.5rem;
  }
  h1{
    font-size: 1.7rem;
  }
  p{
    font-size: 0.7rem;
  }
  main{
   
    padding-top: 3vh;
    height: 80vh;
    padding-bottom: 1rem;
    background-color: #134e4a;
  }
  label{
    
    font-size: 1rem;
  }
  input{
    margin-top: 0px;
    
  }
  table{
    display: table;
    margin: auto;
    /* left: auto; */
    /* position: sticky; */
    margin-top: 2rem;
   
   
    
    
  }
  table td,th{
    font-size: 0.7rem;
    margin: auto;
    justify-content: center;
  }
 

  
   /* tr{
    align-items: center;
  } */
  footer,img{
    bottom: 1px;
  }
  footer img{
    width: 25px;
  }
  
 
}