body{
    text-align: center;
    margin: auto;
    width: 400px;
}
main{
    display: block;
    margin: auto;
    text-align: center;
    justify-content: center;
}
 table,th, td {
    border:2px solid black;
    border-collapse: collapse;
    padding: 0.4rem;
  }
  table{
    display: table;
   
    margin: auto;
  }